@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", Arial, sans-serif;
}

md-icon {
    font-family: 'Material Symbols Outlined';
}

body {
    margin: 0;
}

#app {
    margin-top: calc(0.25em * 3 + 3em);
}

/* 按鈕內容置中 */
.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
